@import "tailwindcss";

:root {
  --background: #f6f6f7;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-slide-up-fade {
  animation: slideUpFade 0.5s ease-out forwards;
}
