@import "tailwindcss";

:root {
  --background: #f6f6f7;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
